{% extends "base.html" %}
{% block content %}

    <div class="container py-5">

        <div class="bg-white shadow rounded-4 p-5">
            <h1 class="text-center mb-4">👋 ¡Hola! Soy Vanesa</h1>

            <p class="lead">
                Soy apasionada por la tecnología, la optimización de procesos y la creación de soluciones que integren negocio y tecnología. Con una formación inicial en contaduría, tengo una sólida base en procesos contables, impositivos y financieros, lo que me ha permitido especializarme en sistemas ERP, donde SQL es mi fuerte.
            </p>

            <p>
                Mi perfil es técnico, versátil y polifuncional, lo que me permite diseñar, implementar y optimizar soluciones estratégicas alineadas con las necesidades del negocio. Mi experiencia en análisis funcional y gestión de proyectos me ha permitido contribuir en diversos proyectos de transformación digital.
            </p>

            <p>
                Con una mirada estratégica que integra negocio y tecnología, combino mi experiencia en procesos contables y ERP con habilidades en desarrollo backend y análisis funcional, lo que me permite crear soluciones escalables que optimizan la operación y aportan valor real al negocio.
            </p>

            <p>
                Actualmente, me encuentro ampliando mis habilidades como desarrolladora, profundizando en tecnologías como Node.js y Power BI, con el objetivo de comprender mejor el funcionamiento de las APIs, la arquitectura de software y especializarme progresivamente en el mundo de los datos.
            </p>

            <hr class="my-4">

            <h3>🛠️ Tech Stack</h3>
            <p><strong>Python, Django, Bootstrap, CSS3, HTML5, JavaScript, NPM, Git, VS Code, Postman, SQL Server, MongoDB</strong></p>

            <h3 class="mt-4">📚 Certificaciones Destacadas</h3>
            <ul>
                <li>Professional Scrum Master – Certiprof</li>
                <li>SQL Avanzado – Udemy</li>
                <li>Diseño UI/UX – Udemy</li>
                <li>Product Manager – Coderhouse</li>
                <li>Desarrollo Web – Coderhouse</li>
                <li>Desarrollo Backend – Coderhouse</li>
            </ul>

            <hr>

           <h3>📫 Conéctate conmigo</h3>
<p>
    <a href="" target="_blank" class="btn btn-primary btn-sm">LinkedIn</a>
    <a href="mailto:vanesacpassaglia@gmail.com" class="btn btn-outline-dark btn-sm">Email</a>
    <a href="https://github.com/Vane2403-Dev?tab=repositories" target="_blank" class="btn btn-dark btn-sm">GitHub</a>
</p>


            <p class="text-center mt-4">✨ Gracias por visitar mi perfil. Si compartís la pasión por la tecnología, los datos y la mejora continua, ¡conectemos! 😊</p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
